# dependencies
/node_modules

# compiled file
/pack

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# project files
/src/environments/environment.ts
/src/environments/environment.prod.ts
